body {
	height: 100vh;
	font-family: monospace;
	padding-top: 60px;
	background: linear-gradient(50deg, rgba(254,254,253,1) 0%, rgb(165, 198, 148) 100%);
	#main_title {
		h1{
			font-size: 75px;
			font-weight: bold;
		}
		color: rgb(68, 144, 31);
		text-shadow: 1px 1px 2px black;
		padding: 50px 0;
	}
	div button{
		background: black;
		font-size: 100px;
		color: #fff;
		width: 150px;
		text-shadow:
			0 0 3px #fff,
			0 0 5px #fff,
			0 0 10px #fff,
			0 0 21px #0fa,
			0 0 41px #0fa,
			0 0 46px #0fa,
			0 0 51px #0fa,
			0 0 75px #0fa;
	}
	#instructions{
		color: rgb(38, 77, 18);
		font-size: 15px;
		margin: 50px 0;
		
		#instructions_text{
			border: 10px solid rgb(68, 144, 31);
			border-radius: 25px;
			p{
				margin: 10px 0;
				span{
					font-weight: bold;
				}
			}
		}
	}
}

