body {
	text-align: center;
	background: #dfbd69;
	color: white;
	padding: 100px;
	
	h1{
		font-size:80px;
		text-shadow: 1px 1px 5px black;
	}

	button{
		font-family: monospace;
		font-size: 100px;
	}
	p{
		color: black;
		font-size: 20px;
	}
	#instructions{
		width: 50%;
		padding: 0 200px;
		/* margin-left: 0; */
	}

}

